<div class="product-card">
    <div class="product-info">
        <h3 class="product-name">{{ nome() }}</h3>

        <div class="product-price-wrapper">
            <span class="product-price">€{{ prezzo() }}</span>
        </div>

        <div class="product-rating">
            <app-star-rating (votoSelezionato)="salvaVoto($event)" />

            @if(votoRicevuto()) {
            <p>Hai valutato il prodotto con {{ votoRicevuto() }} stelle.</p>
            }
        </div>
    </div>

    <div class="product-status">
        @if (disponibile()) {
        <span class="status-badge available">
            <span class="status-dot"></span> Disponibile
        </span>
        } @else {
        <span class="status-badge out-of-stock">
            <span class="status-dot"></span> Esaurito
        </span>
        }
    </div>
</div>