body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
padding: 30px;
}

form {
background-color: white;
padding: 20px;
width: 300px;
border-radius: 8px;
}

label {
display: block;
margin-top: 10px;
}

input {
width: 100%;
padding: 8px;
margin-top: 5px;
}

button {
margin-top: 15px;
padding: 10px;
background-color: darkgreen;
color: white;
border: none;
cursor: pointer;
}

#risultato {
margin-top: 20px;
font-size: 18px;
}