* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(175, 169, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.grid_container {
    display: grid;
    gap: 15px;
    min-height: 100vh;
    /* Unità diverse (fr e %) */
    grid-template-columns: 2fr 30%; 
    /* Unità diverse (px) */
    grid-template-rows: 80px auto 60px; 
    /*  Utilizzo di grid-template-areas */
    grid-template-areas:
        "header header"
        "content sidebar"
        "footer footer";

}

/* Assegnazione delle aree */
.header  { grid-area: header; }
.content { grid-area: content; }
.sidebar { grid-area: sidebar; }
.footer  { grid-area: footer; }

/* Stile base condiviso per i blocchi della griglia */
.header, .content, .sidebar, .footer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 2px;
}

/* ---  HEADER (FLEXBOX) --- */
.header {
    display: flex;
    justify-content: space-between; /* allinea orizzontalmente */
    align-items: center;            /* centra verticalmente */
    background-color: #40902c;
    color: white;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 1.2rem;
    font-weight: 800;
    color: #333;
}

.navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.075);
    padding: 20px; 
    gap: 30px;
    border-radius: 2px;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-left: 1.5rem;
    font-weight: 500;
    font-size: 0.95rem;
    transition: all 0.3s ease;
}

/* Contenitore padre con position relative */
.main-content {
    position: relative;
    min-height: 300px;
    border-left: 5px solid #40902c;
}

/* Elemento badge con position absolute */
.pa {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #e74c3c;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    text-transform: uppercase; 
}

/* SIDEBAR E FOOTER  */
.sidebar {
    background-color: #ffffff;
}

.sidebar ul li a {
    display: flex;
    text-decoration: none;
    color: #333;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 1.95rem;

}
.sidebar ul li a:hover {
    color: #40902c;
    transition: all 0.3s ease;
}



.footer {
    text-align: center;
    background-color: #bdc3c7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.footer a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}