.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e293b;

}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;

}

.nav-links a {
  color: #cbd5e1;
  text-decoration: none;
  margin-left: 20px;
}

.nav-links a:hover {
  color: #38bdf8;
}